<p id="notice"><%= notice %></p>
<div class = "container">
  <h1>Termékeink</h1>


      <% @products.each do |product| %>
      <!--<div class="row">-->
        <div class="thumbnail">
          <div class="thumb">
            <%= link_to image_tag(product.photo.url, class: 'center-fit'), product %>
          </div>
          <div class="properties">
            <p><strong><%= product.name %></strong></p>
            <p><%= product.description %></p>
            <p><strong>Ár: </strong><%= product.price %></p>
          
            <div class="function-buttons">
              <p><%= link_to 'Show', product %></p>
            </div>
            <div class="function-buttons">
              <p><%= link_to 'Edit', edit_product_path(product) %></p>
            </div>
            <div class="function-buttons">
              <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          </div>
        </div>
        <!--</div>-->
      <% end %>
    
  <br>

  <%= link_to 'New Product', new_product_path %>
</div>