<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<div class="img-container">
	<div id="img">
    	<%= link_to image_tag(@product.photo.url, class: 'center-fit-show'), @product.photo.url, target: "_blank" %>
	</div>
</div>
  

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
